body {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bolder;
}
#calendar {
  max-width: 900px;
  margin: 0 auto;
}

#mainCard {
  height: 90vh;
  background-image: url("./images/store-interior.jpg");
  background-size: cover;
  border: none;
  box-shadow: 1px 1px 10px #000000;
}

#mainOverlayCard {
  height: 100%;
	background-image: linear-gradient(to bottom right,#1b2127,#3a221d);
  opacity: 0.6;
  color: rgba(255, 255, 255);
  text-align: center;
  padding-top: 20vh;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
}
#scheduleTitle {
  font-size: 60px;
  text-align: center;
}

#title {
  font-size: 90px;
  font-weight: bolder;
  opacity: 1;
}

#titleHeader {
  font-size: 60px;
  font-weight: bolder;
  opacity: 1;
}

#divider1 {
  background-color: #00000000;
  width: 40%;
  margin-left: 15px;
}

.titleButtons {
  color: black;
  padding-top: 5px;
  width: 90%;
  box-shadow: 1px 1px 15px #f1eff1;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
}

.titleButtons:hover {
  box-shadow: 5px 5px 20px #000000;
}

#divider2 {
  width: 40%;
  margin-left: 29.5vw;
  margin-top: 15px;
}

#storeFrontCard {
  height: 65vh;
  background-image: url("./images/store-front.JPG");
  background-size: cover;
  margin-bottom: 20px;
  border: none;
  box-shadow: 1px 1px 10px #000000;
}

#storeFrontWords {
  background-color: #00000000;
  border: none;
  text-align: center;
  font-weight: bold;
}

.infoWords {
  font-weight: bold;
}

#loginCard {
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 25vh;
  box-shadow: 1px 1px 10px #000000;
}

#adminLoginForm {
  text-align: center;
  margin: auto;
}

#adminCard {
  text-align: center;
  width: 100%;
  border: none;
  margin-top: 33vh;
  margin-bottom: 33vh;
}

.adminButtons {
  width: 100%;
  box-shadow: 1px 1px 10px #000000;
  transition: all 0.5s ease-in-out;
}

.adminButtons:hover {
  box-shadow: 1px 1px 10px #7e7e7e;
}

.eventCreatorCard {
  text-align: center;
  margin: 20px;
  box-shadow: 1px 1px 10px #000000;
  height: 300px;;
}

#eventCreatorForm {
  width: 100%;
  text-align: center;
  font-weight: bolder;
}

#eventTitle {
  width: 100%;
  font-weight: bolder;
}

#eventTypes {
  width: 100%;
  font-weight: bolder;
}

#eventDate {
  width: 100%;
  margin-top: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.eventList {
  margin: 20px;
  box-shadow: 1px 1px 10px #000000;
}

.eventItem {
  box-shadow: 1px 1px 10px #000000;
  font-weight: bolder;
}

#blue {
  width: 20px;
  height: 20px;
  background-color: blue;
  display: block;
  float: right;
  margin: 5px;
  margin-top: 20px;
}

#blueWords {
  margin-top: 20px;
  margin-left: 5px;
  display: block;
  float: right;
}

#red {
  width: 20px;
  height: 20px;
  background-color: red;
  display: block;
  float: right;
  margin: 5px;
  margin-top: 20px;
}

#redWords {
  margin-top: 20px;
  margin-left: 5px;
  display: block;
  float: right;
}

#CallUs {
  display: block;
  float: left;
  margin-top: 20px;
}

.fc-title {
  word-wrap: break-word;
  white-space: normal;
}

.productCreatorCard {
  text-align: center;
  margin: 20px;
  box-shadow: 1px 1px 10px #000000;
  height: 400px;;
}

#productCreatorForm {
  width: 100%;
  text-align: center;
  font-weight: bolder;
}

#productTitle {
  width: 100%;
  font-weight: bolder;
}

#productPrice {
  width: 100%;
  font-weight: bolder;
}

#productDescription {
  width: 100%;
  font-weight: bolder;
}

#productImg {
  width: 100%;
  font-weight: bolder;
}

#productTypes {
  width: 100%;
  font-weight: bolder;
  margin-bottom: 20px;
}

.productList {
  margin: 20px;
  box-shadow: 1px 1px 10px #000000;
}

.productItem {
  box-shadow: 1px 1px 10px #000000;
  font-weight: bolder;
}

.productListImg {
  width: 40px;
  margin: 5px;
}

table, th, td {
  border: 3px solid rgba(0, 0, 0, 0.171);
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}

#productTableHead {
  background-color: #ececec;
}

.productTableCell {
  max-width: 20px;
}

.prodTypeButtons {
  color: black;
  padding-top: 5px;
  width: 90%;
  box-shadow: 1px 1px 15px #f1eff1;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  margin: 5px;
}

.prodTypeButtons:hover {
  box-shadow: 1px 1px 15px #020202;
}

#sideBarTypes {
  text-align: center;
}

.productDisplayTitle {
  text-align: center;
}

.itemTitle {
  font-weight: bolder;
}

.itemPics {
  width: 100%;
}

.itemCards {
  height: 450px;
  box-shadow: 1px 1px 10px #000000;
  margin-bottom: 15px;
  text-align: center;
}

#productDisplayCard {
  box-shadow: 1px 1px 10px #000000;
}

#productTypeDisplayCard {
  box-shadow: 1px 1px 10px #000000;
}

#Janome {
  width: 100%;
}

#quiltingFabrics {
  width: 100%;
}

#graceLongArm {
  width: 100%;
}

#featuresCard {
  border: none;
  text-align: center;
}

#featureTitle {
  margin-bottom: 20px;
  font-weight: bolder;
}

#aboutCard {
  text-align: center;
  margin: 20px;
  box-shadow: 1px 1px 10px #000000;
}